<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.4.3" targetFramework="net48" />
  <package id="Konscious.Security.Cryptography.Argon2" version="1.2.1" targetFramework="net472" />
  <package id="Konscious.Security.Cryptography.Blake2" version="1.0.9" targetFramework="net472" />
  <package id="libsodium" version="1.0.18" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NETCore.Platforms" version="3.1.2" targetFramework="net48" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Ookii.Dialogs.WinForms" version="1.1.0" targetFramework="net48" />
  <package id="Sodium.Core" version="1.2.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="zxcvbn-core" version="2.1.44" targetFramework="net48" />
</packages>